table{
  border:1px solid #333;
  border-collapse: collapse;
  width:100%;
}
th,td{
  border:1px solid #333;
  padding:5px;
}
th{
  background:#eee;
}
td{
  text-align: left;
}
.loader-sm {
  width:20px;
  height:20px;
}
.loader-lg {
  width:50px;
  height:50px;
}
.search-bar{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
}
.results-panel{
  height:25vh;
  overflow: auto;
  border:1px solid #333;
  width:60vw;
}
.col-10by10{
  width:40px;
  height:40px;
  background:#999;
  border:1px solid #000;
}
.col-100by100{
  width:10px;
  height:10px;
  background:#999;
  border:1px solid #000;

}
.col-500by500{
  width:3px;
  height:3px;
  background:#999;
  border:0.3px solid #000;
}
.tabs{
  display: flex;
  margin-bottom:10px;
}
.grid{
  display:flex;
  flex-direction: column;
}
.grid-row{
  display:flex;
  flex-direction:row;
}
.active{
  border:1px solid #f00;
}
button{
  margin-right:10px;
}
.rendering, .even-odd{
  color:#0a0;
  text-transform: uppercase;
}
