table{
  border:1px solid #333;
  border-collapse: collapse;
  width:100%;
}
th,td{
  border:1px solid #333;
  padding:5px;
}
th{
  background:#eee;
}
td{
  text-align: left;
}
.loader-sm {
  width:20px;
  height:20px;
}
.loader-lg {
  width:50px;
  height:50px;
}
.search-bar{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
}
.results-panel{
  height:25vh;
  overflow: auto;
  border:1px solid #333;
  width:60vw;
}